{% extends "base/base_site.html" %} {% block content %}

<div class="card bg-light" id="about-card">
  <div class="ab-card-body">
    <img src="static/img/box.png" id="box-img" alt="About" />
    <div class="about-text">
      <h2>About theCube</h2>
      <p>
        <b><u>theCube</u></b>
        allows users to specify the input parameters to the Algorithmic Trading
        backend to discover the best strategies to make profits over a range of
        dates.
      </p>
      <br />
      <q class="quote">Emotions are your worst enemy in stock market.</q>
      <figcaption>&mdash; Don Hays, <cite>YourSelf Quotes</cite></figcaption>
    </div>
  </div>
</div>

{% endblock %}
