{% extends "runtest/base_site.html" %}

{% block content %}

<div class="card bg-light">
    <div class="card-header">
        <h1><strong style="font-weight: 700;">About The Cube</strong></h1>    
    </div>
    <div class="card-body">
    <h3 class="card-title">The Cube is a class exercise for our Cloud Programming Course</h3>
    <p class="card-text" style="line-height: 2rem;">
        About
        <br> Blah
        <br> Blah
        <br> Blah
        <br> Blah
    </p>
    </div>
</div>

{% endblock %}
