{% extends "base/base_site.html" %}

{% block content %}

<div class="card bg-light" id="about-card">
    <!-- <div class="card-header">
        <h1><strong style>About theCube</strong></h1>    
    </div> -->
    <div class="ab-card-body">
        <!-- <div> -->
            <img src="static/img/box.png" id="box-img" alt="About"> 
        <!-- </div> -->
		<div class="about-text">
            <h2>About theCube</h2>
			<p>theCube allows user to specify the input parameters to the Algorithmic Trading 
                backend to discover the best strategies to make profits over a range of dates. 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
    </div>
</div>

{% endblock %}

<!-- <div class="card bg-light">
    <div class="card-header">
        <h1><strong style="font-weight: 700;">About The Cube</strong></h1>    
    </div>
    <div class="card-body">
    <h3 class="card-title">The Cube is a class exercise for our Cloud Programming Course</h3>
    <p class="card-text" style="line-height: 2rem;">
        About
        
    </p>
    </div>
</div> -->