{% extends "base/base_site.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}
    <script>
        // Initialise the page, on first load
        function initPage() {
            $.getJSON('runtest/rpc/GetRunParams', function(ret) {
                if (ret.status == 'OK') {
                    // Set the default values when no value
                    // When form error, these fields will have value
                    if (!$("#id_start_date").val()) {
                        $("#id_start_date").val(ret.data.start_date);
                    }
                    if (!$("#id_end_date").val()) {
                        $("#id_end_date").val(ret.data.end_date);
                    }
                    if (!$("#id_portfolio_start").val()) {
                        $("#id_portfolio_start").val(parseInt(ret.data.portfolio_start));
                        $("#id_portfolio_start").attr({"min": parseInt(ret.data.portfolio_start_min), 
                            "max": parseInt(ret.data.portfolio_start_max), 
                            "step": parseInt(ret.data.portfolio_start_step_by)});
                    }
                    if (!$("#id_trade_size").val()) {
                        $("#id_trade_size").val(parseInt(ret.data.trade_size));
                        $("#id_trade_size").attr({"min": parseInt(ret.data.trade_size_min),
                            "max": parseInt(ret.data.trade_size_max), 
                            "step": parseInt(ret.data.trade_size_step_by)});
                    }
                } else {
                    console.error(ret.error);
                }
            });
        }
        // Reset page
        function resetPage() {
            initPage();
            $("#id_stock_ticker").val(null);
            $("#id_strategy_code").val(null);
            $("#id_indicator_1_code").val(null);
            $("#id_ind_1_param_1").val(null);
            $("#id_ind_1_param_2").val(null);
            $("#id_ind_1_param_3").val(null);
            $("#id_ind_1_param_4").val(null);
            $("#id_ind_1_param_5").val(null);
            // Hide all params
            $("#ind_1_param_1_group").hide();
            $("#ind_1_param_2_group").hide();
            $("#ind_1_param_3_group").hide();
            $("#ind_1_param_4_group").hide();
            $("#ind_1_param_5_group").hide();
            // Set focus on first input
            $(':input:enabled:visible:first').focus();
        }
        // When strategy selected
        function onSelectStrategy() {
            // When strategy selected only
            var strategyCode = $("#id_strategy_code").val();
            if (strategyCode) {
                $.getJSON('runtest/rpc/GetStrategyParams/' + strategyCode, function(ret) {
                    if (ret.status == 'OK') {
                        // Reset indicator selection
                        $("#id_indicator_1_code").val(null);
                        // Show params only when indicator selected
                        $("#ind_1_param_1_group").hide();
                        $("#ind_1_param_2_group").hide();
                        $("#ind_1_param_3_group").hide();
                        $("#ind_1_param_4_group").hide();
                        $("#ind_1_param_5_group").hide();
                    } else {
                        console.error(ret.error);
                    }
                });
            }
        }
        // When Indicator selected, we need to hide/show params
        // and change its labels and default values
        function onSelectIndicator(evt) {
            var indicatorNo = evt.data;
            var indicator = $("#id_indicator_" + indicatorNo + "_code").val();
            if (indicator) {
                $.getJSON('runtest/rpc/GetIndicatorParams/' + indicator, function(ret) {
                    if (ret.status == 'OK') {
                        // Reset all param values
                        $("#id_ind_" + indicatorNo + "_param_1").val(null);
                        $("#id_ind_" + indicatorNo + "_param_2").val(null);
                        $("#id_ind_" + indicatorNo + "_param_3").val(null);
                        $("#id_ind_" + indicatorNo + "_param_4").val(null);
                        $("#id_ind_" + indicatorNo + "_param_5").val(null);
                        // We expect data to be an array
                        if (ret.data.length == 0) {
                            // Show 0 param
                            $("#ind_" + indicatorNo + "_param_1_group").hide();
                            $("#ind_" + indicatorNo + "_param_2_group").hide();
                            $("#ind_" + indicatorNo + "_param_3_group").hide();
                            $("#ind_" + indicatorNo + "_param_4_group").hide();
                            $("#ind_" + indicatorNo + "_param_5_group").hide();
                        }
                        else if (ret.data.length == 1) {
                            // Show 1 param
                            $("#ind_" + indicatorNo + "_param_1_group").show();
                            $("#ind_" + indicatorNo + "_param_2_group").hide();
                            $("#ind_" + indicatorNo + "_param_3_group").hide();
                            $("#ind_" + indicatorNo + "_param_4_group").hide();
                            $("#ind_" + indicatorNo + "_param_5_group").hide();
                        }
                        else if (ret.data.length == 2) {
                            // Show 2 params
                            $("#ind_" + indicatorNo + "_param_1_group").show();
                            $("#ind_" + indicatorNo + "_param_2_group").show();
                            $("#ind_" + indicatorNo + "_param_3_group").hide();
                            $("#ind_" + indicatorNo + "_param_4_group").hide();
                            $("#ind_" + indicatorNo + "_param_5_group").hide();
                        }
                        else if (ret.data.length == 3) {
                            // Show 3 params
                            $("#ind_" + indicatorNo + "_param_1_group").show();
                            $("#ind_" + indicatorNo + "_param_2_group").show();
                            $("#ind_" + indicatorNo + "_param_3_group").show();
                            $("#ind_" + indicatorNo + "_param_4_group").hide();
                            $("#ind_" + indicatorNo + "_param_5_group").hide();
                        }
                        else if (ret.data.length == 4) {
                            // Show 4 params
                            $("#ind_" + indicatorNo + "_param_1_group").show();
                            $("#ind_" + indicatorNo + "_param_2_group").show();
                            $("#ind_" + indicatorNo + "_param_3_group").show();
                            $("#ind_" + indicatorNo + "_param_4_group").show();
                            $("#ind_" + indicatorNo + "_param_5_group").hide();
                        }
                        else if (ret.data.length == 5) {
                            // Show 5 params
                            $("#ind_" + indicatorNo + "_param_1_group").show();
                            $("#ind_" + indicatorNo + "_param_2_group").show();
                            $("#ind_" + indicatorNo + "_param_3_group").show();
                            $("#ind_" + indicatorNo + "_param_4_group").show();
                            $("#ind_" + indicatorNo + "_param_5_group").show();
                        }

                        // Change label and default values
                        ret.data.forEach(function(param, i) {
                            $("label[for='id_ind_" + indicatorNo + "_param_" + (i+1).toString() + "']")
                                .text(param.param_label);
                            $("#id_ind_" + indicatorNo + "_param_" + (i+1).toString())
                                .val(parseInt(param.default_value));
                            // Set min, max, step
                            $("#id_ind_" + indicatorNo + "_param_" + (i+1).toString())
                                .attr({"min": parseInt(param.min_value),
                                "max": parseInt(param.max_value),
                                "step": parseInt(param.step_by)});
                        });
                    } else {
                        console.error(ret.error);
                    }
                });
            }
        }
        // After document loaded...
        $(document).ready(function() {
            initPage();
            resetPage();
            // Attach change functions to strategy and indicators
            $("#id_strategy_code").change(onSelectStrategy);
            // Event data is the indicator number
            $("#id_indicator_1_code").change('1', onSelectIndicator);
            // Trigger change event when form error to hide/show params
            if ($("#id_strategy_code").val()) {
                $("#id_strategy_code").trigger('change');
            }
            if ($("#id_indicator_1_code").val()) {
                $("#id_indicator_1_code").trigger('change');
            }
        });
    </script>
{% endblock %}

{# Show Form non-field errors on top #}

{% if form.non_field_errors %}
    {% block messages %}
    {{ form.non_field_errors }}
    {% endblock %}
{% endif %}

{% block content %}

<div class="backtest-container">
    <div class="bg-light">
        <form method='post'>
            {% csrf_token %}
            <div id="section_1" class="border">
                <h3 class="form-text">Step 1 - Choose Stock</h3>
                <div class="form-row">
                    <div class="col-sm-3">
                    {{ form.stock_ticker | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-2">
                    {{ form.start_date | as_crispy_field }}
                    </div>
                    <div class="col-sm-2">
                    {{ form.end_date | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-sm-2">
                    {{ form.portfolio_start | as_crispy_field }}
                    </div>
                </div>
            </div>

            <div id="section_2" class="border">
                <h3 class="form-text">Step 2 - Choose Strategy</h3>
                <div class="form-row">
                    <div class="col-sm-3">
                    {{ form.strategy_code | as_crispy_field }}
                    </div>
                </div>
            </div>

            <div id="section_3" class="border">
                <h3 class="form-text">Step 3 - Choose Indicator(s)</h3>
                <div id="ind_1_group">
                    <div class="form-row">
                        <div class="col-sm-3">
                        {{ form.indicator_1_code | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="ind_1_param_1_group" class="col-sm-1">
                        {{ form.ind_1_param_1 | as_crispy_field }}
                        </div>
                        <div id="ind_1_param_2_group" class="col-sm-1">
                        {{ form.ind_1_param_2 | as_crispy_field }}
                        </div>
                        <div id="ind_1_param_3_group" class="col-sm-1">
                        {{ form.ind_1_param_3 | as_crispy_field }}
                        </div>
                        <div id="ind_1_param_4_group" class="col-sm-1">
                        {{ form.ind_1_param_4 | as_crispy_field }}
                        </div>
                        <div id="ind_1_param_5_group" class="col-sm-1">
                        {{ form.ind_1_param_5 | as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="section_4" class="border">
                <h3 class="form-text">Step 4 - Number of Shares</h3>
                <div class="form-row">
                <div class="col-sm-2">
                    {{ form.trade_size | as_crispy_field }}
                </div>
            </div>
            <div class="form-row btn-group" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <button type="submit" class="btn btn-success">Run</button>
                </div>
                <div class="btn-group mr-2" role="group">
                    <button type="button" onClick="resetPage()" class="btn btn-warning">Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
