<!DOCTYPE html>
<html lang="en-us">
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block navbar%} {% endblock %}
    </div>
    <!-- END Header -->
          {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
