{% extends "base/base_site.html" %}

{% block graphhead %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/graphstyle3.css' %}" /> 
{% endblock %}

{% block content %}
<!-- Styles -->
  
  <!-- Resources -->
  <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/kelly.js"></script>
  <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

  <div class="card bg-light" id="graph-container">
    <div id="svg-container">
    <h1 class="test-result-text">Test Result</h1>
      <div id="controls" style="width: 100%; overflow: hidden;">
        <div style="float: left; margin-left: 15px;">
          From: <input type="text" id="fromfield" class="amcharts-input" />
          To: <input type="text" id="tofield" class="amcharts-input" />
        </div>
        <div style="float: right; margin-right: 15px;">
          <button id="b1m" class="amcharts-input btn btn-dark" onclick="toggle(this.id)">1m</button>
          <button id="b3m" class="amcharts-input btn btn-dark" onclick="toggle(this.id)">3m</button>
          <button id="b6m" class="amcharts-input btn btn-warning" onclick="toggle(this.id)">6m</button>
          <button id="b1y" class="amcharts-input btn btn-dark" onclick="toggle(this.id)">1y</button>
          <button id="bytd" class="amcharts-input btn btn-dark" onclick="toggle(this.id)">YTD</button>
        </div>
      </div>
      <div id="chartdiv"></div>
    </div> 
    <hr>
    <div class="test-result-summary">
      <h1 class="test-result-text">Summary</h1>
      <div class="card-container">
        <div class="card"> 
          <div class="summary-row">
            <span class="summary-key">Strategy used : </span>
            <span class="summary-data">
                {{summary.StrategyCode }}
            </span>
          </div>
          <hr>
          <div class="summary-row">
            <span class="summary-key">Indicator(s) used : </span>
            <span class="summary-data">
                {{summary.StrategyIndicators }}
            </span>
          </div>
          <hr>
          <div class="summary-row">
            <span class="summary-key">Initial Capital : </span>
            <span class="summary-data">
                {{summary.InitCapital | stringformat:".2f" }}
            </span>
          </div>
          <hr>
          <div class="summary-row">
            <span class="summary-key">Equity ROI : </span>
            <span class="summary-data">{{summary.EquityROI | stringformat:".2f"}}%</span>
          </div>
          <hr>
          <div class="summary-row">
            <span class="summary-key">Win Rate : </span>
            <span class="summary-data">{{summary.WinRate | stringformat:".2f" }}%</span>
          </div>
          <hr>
          <div class="summary-row"> 
            <span class="summary-key">Max Drawdown : </span>
            <span class="summary-data">{{summary.MaxDrawdownValue | stringformat:".2f"}}</span>
          </div>
          <hr>
          <div class="summary-row">
            <span class="summary-key">Final Equity Value : </span>
            <span class="summary-data">{{summary.FinalEquity | stringformat:".2f" }}</span>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="test-result-remark">
      <h1 class="test-result-text">Remarks</h1>
      <div class="card-container">
        <div class="card"> 
          <div class="remark-row">
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Notes: </label>
              <textarea class="form-control" id="remark" rows="3" 
              placeholder="Add your remark here...">{{remark}}</textarea>
            </div>
            <button class="btn btn-success float-right" onclick="updateRemark(`{{run_id}}`)">Update Remark</button>
            <!-- <span class="summary-key">Initial Capital : </span>
            <span class="summary-data">
                {{summary.InitCapital | stringformat:".2f" }}
              </span> -->
            </div>
            <hr>
            <button class="btn btn-danger" onclick="deleteEntry(`{{run_id}}`)">Delete this test run</button>
          </div>
      </div>
    </div>
  </div>

  <input type="hidden" id="myVar" name="variable" value="{{ run_id }}">
  {% load static %}
  <script src="{% static 'js/graphing3.js' %}"></script>
  
  <script>
    function toggle(id){
      const btnList = ["b1m", "b3m", "b6m", "b1y", "bytd"];
      btnList.forEach(btn => document.getElementById(btn).classList.remove('btn-warning'))
      btnList.forEach(btn => document.getElementById(btn).classList.add('btn-dark'))
      document.getElementById(id).classList.remove('btn-dark');
      document.getElementById(id).classList.add('btn-warning');
    }

    // TODO: Remove WinRate and Max drawdown if the run is buy and hold
    // OR SUGGEST TO REMOVE BUY AND HOLD

    // Unfortunately jquery does not have a get cookie function.
    function getCookie(name) {
      var match = document.cookie.match(new RegExp("(^| )" + name + "=([^;]+)"));
      if (match) return match[2];
    }

    function updateRemark(id) {
      var textarea = document.getElementById("remark");
      var text = textarea.value;
      $.ajax({
        method: "POST",
        url: "/testhistory/update",
        // CSRF Token
        headers: { "X-CSRFToken": getCookie("csrftoken") },
        // Data to send
        data: { id: id, remarks: text },
        // Function to run on success
        success: function (msg) {
          console.log("Update ok msg: " + msg);
          console.log("/testhistory/" + id);
          alert('Your remark is updated!');
        },
        error: function (msg) {
          console.log("Update failed: " + msg);
        },
      });
      
    }

    function deleteEntry(id) {
      var x = confirm("Are you sure you want to delete?");
      if (x) {
        // $.delete("/testhistory/"+id+"/delete/");
        console.log("sent " + id);

        // Send the delete request
        $.ajax({
          method: "DELETE",
          url: "/testhistory/" + id + "/delete",
          // CSRF Token
          headers: { "X-CSRFToken": getCookie("csrftoken") },
          // Function to run on success
          success: function (msg) {
            console.log("Delete ok msg: " + msg);
            console.log("/testhistory/" + id + "/delete");
            location.href = '/testhistory';
          },
          error: function (msg) {
            console.log("Delete failed: " + msg);
          },
        });
      } else {
        console.log(x);
      }
    }
  
  </script>

{% endblock %}

