{% extends "base/base_site.html" %}

{% block content %}
<div class="home-container">
	<video src="static/vid/video_bg_stocks.mp4" id="video-bg" type="video/mp4" autoPlay loop muted></video>
	<div class="desc-container">
		<div class="desc">
			<h2>Welcome to theCube</h2>
			<p class="card-text">
				Ah yes, <strong>theCube</strong>, 
				<br/>
				where all the backtesters gather and identify some of the most optimum strategies 
				and indicators to use for a better trading experience. 
			</p>
			<p class="disclaimer">*The Cube is a class exercise for our Cloud Programming Course</p>
		</div>
	</div>
</div>
{% endblock %}
