{% extends "base/base_site.html" %}

{% block content %}

<div class="card bg-light">
    <!-- <div class="card-header">
        <h1><strong style>Welcome to The Cube</strong></h1>    
    </div> -->
    <div class="card-body">
		<img src="static/img/box.png" alt="dummybox"> 
		<div class="homepageDesc">
			<h2>Welcome</h2>
			<p class="card-text">
				Let’s backtest to find the best trading strategy.
			</p>
		</div>
    </div>
	<p class="disclaimer">*The Cube is a class exercise for our Cloud Programming Course</p>
</div>

{% endblock %}
