{% extends "runtest/base_site.html" %}

{% block content %}

<div class="card bg-light">
    <div class="card-header">
        <h1><strong style="font-weight: 700;">About Crackshort</strong></h1>    
    </div>
    <div class="card-body">
    <h3 class="card-title">Crackshort was created by Simon.</h3>
    <p class="card-text" style="line-height: 2rem;">
        He wanted to be, the very best (trader), like no one ever was.
        <br>He didn't know how to code, so he looked for ways to backtest that didn't require programming.
        <br>He couldn't find any, so he learned Python and built his own. Then he thought, why not put this online?
        <br>Then he regretted everything, because he thought this would be some 5-minute Wordpress thing.
        <br>Enjoy Crackshort.co!</p>
        <a href="https://www.patreon.com/crackshort" target="_blank" class="btn" style="background-color: rgb(233,136,24); color: white;"><b>Buy Simon a coffee</b></a>
    </div>
</div>

{% endblock %}
