{% extends "base/base_site.html" %}

{% block content %}

<div class="card bg-light" id="how-card">
    <div class="tab-container">
    
        <div class="tab">
            <h3>Overview</h3>
            <button class="tablinks" onmouseover="openTab(event, 'step1-card')">Step 1: Choose Stock</button>
            <button class="tablinks" onmouseover="openTab(event, 'step2-card')">Step 2: Choose Strategy</button>
            <button class="tablinks" onmouseover="openTab(event, 'step3-card')">Step 3: Choose Indicator(s)</button>
            <button class="tablinks" onmouseover="openTab(event, 'step4-card')">Step 4: Number of shares</button>
        <a id="start-in-overview" class="btn btn-success" href="{% url 'backtest' %}" role="button">START</a>
    
        </div>
    
        <div id="overview-card" class="tabcontent" style="display:block;">
            <h3>Overview</h3>
            <p>Allows user to specify the input parameters to the Algorithmic Trading backend to discover the 
                best strategies to make profits over a range of dates. 
                </p>
        </div>
    
        <div id="step1-card" class="tabcontent">
            <h3>Choose the stock</h3>
            <p>Choose the stock you want to back test. Then, select the start and end date.
            </p>
        </div>
        
        <div id="step2-card" class="tabcontent">
            <h3>Choosing strategy</h3>
            <p>Type of strategies available:</p>
            <ol>
                <li>Single Indicator (Only using one indicator to back test)</li>
            </ol>
        </div>
        
        <div id="step3-card" class="tabcontent">
            <h3>Choose indicator(s)</h3>
            <p>List of indicators:</p>
            <ul>
                <li>SMA (Baseline)</li>
                <ul>
                    <li>Buy if candle closes above the SMA</li>
                    <li>Sell if candle closes below the SMA.</li>
                </ul>
                <li>SMA (Crossing)</li>
                <ul>
                    <li>Buy if faster SMA crosses above the slower SMA.</li>
                    <li>Sell if faster SMA crosses below the slower SMA.</li>
                </ul>
                <li>RSI</li>
                <ul>
                    <li>Buy if RSI crosses upwards from oversold region.</li>
                    <li>Sell if RSI crosses downwards from the overbought region.</li>
                </ul>
            </ul>
        </div>
    
        <div id="step4-card" class="tabcontent">
            <h3>Number of Shares</h3>
            <p>The number of shares that will be traded. Currently fixed at 1000.</p>
        </div>
    </div>
</div>  

<script>
    function openTab(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
    }
</script>

{% endblock %}
