{% extends "base/base_site.html" %} {% block content %}

<div class="card bg-light">
  <div class="warren-card-body">
    <img src="static/img/warren.png" id="warren-img" alt="warren" />
    <div class="warren-text">
      <h2>Try again with other strategy or indicator(s).</h2>
      <p>
        Seems like the strategy or indicator(s) you have chosen cannot be combined to backtest in this case.
      </p>
      <br />
      <q class="quote">Never test the depth of the river with both of your feet.</q>
      <figcaption>&mdash; Warren Buffett, <cite>The Wall Street Journal</cite></figcaption>
    </div>
  </div>
  <button class="try-again-btn">Run backtest again</button>
</div>

{% endblock %}
