{% extends "base/base_site.html" %} {% load mathfilters %} {% block extrahead %}
<!-- Data Table -->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

{% endblock %} {% block content %}
<div class="container mb-3 mt-3">
  <table
    class="table table-striped table-bordered testrecord"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>No.</th>
        <th>Datetime</th>
        <th>Strategy</th>
        <th>Indicators</th>
        <th>Stock Name</th>
        <th>Initial Capital</th>
        <th>Final Equity</th>
        <th>Equity ROI (%)</th>
        <th>Win Rate (%)</th>
        <th>Max Drawdown</th>
      </tr>
    </thead>
    <tbody>
      {% for data in testhistorydata %}
      <tr class="table-row" onclick="gotoSummary(`{{data.id}}`)">
        <td>{{ forloop.counter }}</td>
        <td>{{ data.run_on }}</td>
        <td>{{ data.strategy_code }}</td>
        <td>{{ data.indicators }}</td>
        <td>{{ data.stock_ticker }}</td>
        <td>{{ data.portfolio_start }}</td>
        <td>{{ data.equity_performance | stringformat:".2f" }}</td>
        <td>{{ data.equity_roi | stringformat:".2f" }}</td>
        <td>{{ data.win_rate | stringformat:".2f" }}</td>
        <td>{{ data.max_drawdown | stringformat:".2f" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  $(".testrecord").DataTable();
  function gotoSummary(id){

    // Only direct to the graphing page if the id exists
    $.getJSON("../../runtest/rpc/GetResultsData/" + id, res => {
      if(res.status == "OK"){
        location.href = '/graphing/' + id;
      } else {
        alert("Sorry, please try again later.");
      }
    })
  }
</script>

{% endblock %}
