<!DOCTYPE html>
<html lang="en-us">
<head>
<title>{% block title %}{% endblock %}</title>
{# to load site wide css or js files #}
{% block basestyle %}{% endblock %}
{% block basehead %}{% endblock %}
{# Your templates might wanna load one off css or js files #}
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block graphhead %}{% endblock %}
{% block responsive %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
{% load i18n %}

<body class="{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container" class="container-fluid">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            {% block branding %}{% endblock %}
        </div>
        <!-- Navigation Bar -->
        {% block navbar%} {% endblock %}
        {# Page-wide error messages #}
        {% block messages %}{% endblock %}
    </div>
    <!-- END Header -->
    <!-- Content -->
    {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
    {% block content %} {% endblock %}
    {% block sidebar %}{% endblock %}
    <br class="clear">
    <!-- END Content -->
    {% block footer %}{% endblock %}
</div>
<!-- END Container -->
</body>
</html>
