#chartdiv {
  width: 100%;
  height: 500px;
  max-width: 100%;
}

#svg-container{
  margin-bottom: 50px;
}

#graph-container {
  margin-top: 30px;
  padding: 20px;
  height: 100%;
}

#graph-container h1 {
  font-family: 'Abril Fatface';
  padding: 5px 20px;
}

.test-result-text{
  margin-bottom: 12px;;
}

.card-container {
  font-family: 'Raleway';
  padding: 30px;
}

.summary-row {
  padding: 0 30px;
}

.summary-key {
  float: left;
}

.summary-data {
  float: right;
  text-align: right;
  font-weight: bold;
}

.card-container{
  padding: 10px;
}

.card{
  padding: 20px 10px;
}