/* navbar */
nav {
  background: rgb(52, 48, 48);
  background: linear-gradient(
    90deg,
    rgba(52, 48, 48, 1) 5%,
    rgba(80, 74, 74, 1) 95%
  );
  box-shadow: 0px 1px 2px 4px rgba(0, 0, 0, 0.356);
}

#container {
  padding: 0px;
}

#logo-text {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  margin: 0px 10px;
  text-shadow: 3px 3px #252525a6;
  color: white;
}

nav > ul > li > a {
  margin-top: 25px;
  font-family: system-ui;
  font-weight: 600;
  text-shadow: 1px 1px #252525a6;
  color: white;
}

nav > ul > li > .on {
  color: rgb(233, 201, 58);
  border-bottom: solid 3px rgb(233, 201, 58);
  margin-top: 22px;
}

nav ul:hover li a {
  margin-top: 25px;
  color: white;
  transition: 0.3s;
  border-bottom: 0px;
}

nav > ul > li > a:hover {
  color: rgb(233, 201, 58);
  border-bottom: solid 3px rgb(233, 201, 58);
  margin-top: 22px;
  transition: 0.3s;
}

.fa-cube {
  margin-left: 10px;
  color: white;
  text-shadow: 3px 3px #252525a6;
  font-size: 250%;
}

/* footer */
footer {
  height: 40px;
  background: rgb(52, 48, 48);
  background: linear-gradient(
    90deg,
    rgba(52, 48, 48, 1) 5%,
    rgba(80, 74, 74, 1) 95%
  );
  color: rgb(255, 255, 255);
  box-shadow: 0px -1px 2px 4px rgba(0, 0, 0, 0.356);
  padding: 10px;
}

/* how it works */
.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0px 100px 50px 100px;
}

.tab-container p,
.tab-container button,
.tab-container li {
  font-family: "Raleway";
  font-size: 20px;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 400px;
  height: 400px;
  margin: 0px 50px;
}

.tab h3 {
  margin: 10px;
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 20px 20px;
  border: 1px solid #ccc;
  width: 600px;
  height: 400px;
  margin: 0px 50px;
  display: none;
}

.tabcontent h3 {
  text-align: center;
  margin-bottom: 20px;
}

#start-in-overview {
  margin: 8px 15px;
  background-color: rgb(233, 201, 58);
  color: black;
  border: 0px;
}

/* Homepage */
#video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1; */
  filter: brightness(70%);
  filter: saturate(70%);
}

/* .card-header h1 {
  font-family: "Times New Roman";
} */

.desc-container {
  display: flex;
  justify-content: center;
}

/* .hp-card-body {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.hp-card-body img {
  width: 40%;
  height: auto;
} */

.desc {
  color: rgb(236, 236, 236);
  margin-top: 100px;
  max-width: 700px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card-text {
  font-family: "Raleway";
  font-size: 20px;
  text-align: justify;
}

.desc h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 4rem;
}

.disclaimer {
  float: right;
  font-size: x-small;
}

/* About */
.ab-card-body {
  display: flex;
  justify-content: center;
  margin: 50px;
}

#box-img {
  margin: -50px 0px 50px 50px;
  height: 30%;
  width: 30%;
}

.about-text {
  padding: 80px 150px 0px 50px;
}

.about-text p {
  margin-top: 20px;
  font-family: "Raleway";
  font-size: 20px;
  text-align: justify;
}

/* backtest */
.bg-light {
  margin: 5% 5% 8% 5%;
}

.border {
  padding: 5%;
}

/* Login & Signup */
.login-style h1{
  font-family: 'Abril Fatface', cursive;
}

.login-style p{
  font-family: 'Quicksand';
  font-weight: 600;
}

form p input {
  display: flex;
}

#id_remember {
  display: inline-block;
}

.primaryAction, #signup_form button, #logout_form {
  width: 11.5rem;
  border-radius: 0.5em;
  font-family: 'Abril Fatface', cursive;
}

.primaryAction:hover, #signup_form button:hover, #logout_form:hover {
  background-color: gold;
  transition: 0.3s;
  font-family: 'Abril Fatface', cursive;
}

card-body {
  padding-left: 10em;
}
