/* navbar */
nav {
  font-family: "Quicksand";
  font-weight: 600;
  background: rgb(52, 48, 48);
  background: linear-gradient(
    90deg,
    rgba(52, 48, 48, 1) 5%,
    rgba(80, 74, 74, 1) 95%
  );
  box-shadow: 0px 1px 2px 4px rgba(0, 0, 0, 0.356);
}

#container {
  padding: 0px;
}

#logo-text {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  margin: 0px 10px;
  text-shadow: 3px 3px #252525a6;
  color: white;
}

nav > ul > li > a {
  margin-top: 25px;
  font-family: "Quicksand";
  font-weight: 600;
  text-shadow: 1px 1px #252525a6;
  color: white;
  transition: 0.3s;
}

nav > ul > li > .on {
  color: rgb(233, 201, 58);
  border-bottom: solid 3px rgb(233, 201, 58);
  margin-top: 22px;
  transition: 0.3s;
}

nav ul:hover li a {
  margin-top: 25px;
  color: white;
  transition: 0.3s;
  border-bottom: 0px;
}

nav > ul > li > a:hover {
  color: rgb(233, 201, 58);
  border-bottom: solid 3px rgb(233, 201, 58);
  margin-top: 22px;
  transition: 0.3s;
}

.fa-cube {
  margin-left: 10px;
  color: white;
  text-shadow: 3px 3px #252525a6;
  font-size: 250%;
}

/* footer */
footer {
  height: 40px;
  background: rgb(52, 48, 48);
  background: linear-gradient(
    90deg,
    rgba(52, 48, 48, 1) 5%,
    rgba(80, 74, 74, 1) 95%
  );
  color: rgb(255, 255, 255);
  box-shadow: 0px -1px 2px 4px rgba(0, 0, 0, 0.356);
  padding: 10px;
}

/* how it works */
.tab-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 0px 100px 50px 100px;
}

.tab-container p,
.tab-container button,
.tab-container li {
  font-family: "Quicksand";
  font-size: 20px;
}

.tab {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 400px;
  min-width: 300px;
  height: 400px;
  margin: 0px 50px;
}

.tab h3 {
  margin: 10px;
  font-family: "Abril Fatface";
}

.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 20px 20px;
  border: 1px solid #ccc;
  width: 600px;
  min-width: 400px; 
  height: 400px;
  margin: 0px 50px;
  display: none;
  overflow-y: auto;
}

.tabcontent h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Abril Fatface";
}

#start-in-overview {
  margin: 8px 15px;
  background-color: rgb(233, 201, 58);
  color: black;
  border: 0px;
  font-family: "Quicksand";
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .tab-container {
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 0px 20px;
  }

  .tab {
    margin: 50px;
  }

  .tabcontent {
    width: 400px;
    margin-bottom: 100px;
  }
}

/* Homepage */
#video-bg {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  /* object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1; */
  filter: brightness(70%);
  filter: saturate(70%);
}

/* .card-header h1 {
  font-family: "Times New Roman";
} */

.desc-container {
  display: flex;
  justify-content: center;
}

/* .hp-card-body {
  display: flex;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.hp-card-body img {
  width: 40%;
  height: auto;
} */

.desc {
  color: rgb(236, 236, 236);
  margin-top: 100px;
  max-width: 700px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 30px 50px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card-text {
  font-family: "Raleway";
  font-size: 20px;
  text-align: justify;
}

.desc h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 4rem;
}

.disclaimer {
  float: right;
  font-size: x-small;
}

@media screen and (max-width: 1000px) {
  .desc {
    width: 450px;
    text-align: center;
    margin-bottom: 150px;
  }
}

/* About */
.ab-card-body {
  display: flex;
  justify-content: center;
  margin: 50px;
  min-width: 850px;
}

.ab-card-body h2 {
  font-family: "Abril Fatface", cursive;
}

.quote {
  font-family: "IM Fell French Canon SC", serif;
  background-color: rgba(218, 218, 218, 0.7);
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bolder;
}

#box-img {
  margin: -50px 0px 50px 50px;
  height: 400px;
  width: 400px;
}

.about-text {
  min-width: 600px;
  padding: 80px 150px 0px 50px;
}

.about-text p {
  margin-top: 20px;
  font-family: "Quicksand";
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  #about-card {
    align-items: center;
  }

  .ab-card-body {
    flex-direction: column;
    align-items: center;
  }

  #box-img {
    margin-right: 50px;
  }

  .about-text {
    min-width: 400px;
    width: 400px;
    padding: 50px 10px;
  }
}

/* backtest */
.bg-light {
  margin: 5% 5% 8% 5%;
}

.border {
  padding: 5%;
  font-family: "Quicksand";
  font-weight: 600;

}

.border h3 {
  font-family: "Abril Fatface", cursive;
}

.errorlist {
  font-family: "Raleway";
  background-color: rgba(218, 218, 218, 0.7);
  padding: 0.5rem;
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Do not show * for required fields */
.asteriskField {
    display: none;
}

/*
#div_id_portfolio_start .asteriskField{
  display: none;
} */

/* Do not show label for Strategy */
#div_id_strategy_code label{
  display: none;
}

/* We disable field in form directly. see forms/test_run.py
#div_id_portfolio_start input[name=portfolio_start] {
  pointer-events: none;
  color:#AAA;
  background:#F5F5F5;
} 

#div_id_trade_size input[name=trade_size] {
  pointer-events: none;
  color:#AAA;
  background:#F5F5F5;
}

#div_id_portfolio_start input[name=portfolio_start]::-webkit-outer-spin-button,
#div_id_portfolio_start input[name=portfolio_start]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*/

/* graphing */
#graph-card{
  padding: 20px;
}

/* Login & Signup & Logout */
.prompt-style h1 {
  font-family: "Abril Fatface", cursive;
}

.prompt-style p {
  font-family: "Quicksand";
  font-weight: 600;
}

#login-prompt {
  margin: 5%;
  padding: 5%;
  display: inline-block;
}

#signup-prompt {
  margin: 3%;
  padding-left: 5%;
}

#logout-prompt {
  margin: 5%;
  padding: 5%;
  border-radius: 1em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

#logout-prompt h1 {
  font-size: 3em;
}

#login-img {
  padding-left: 3%;
  display: inline-flex;
  transform: scale(1.3);
}

@media only screen and (max-width: 600px) {
  #login-prompt {
    display: block;
  }

  #login-img {
    display: none;
  }
}

#logout-img img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: -1;
  filter: blur(5px);
}

#forgot-pw-prompt {
  margin: 4%;
  padding: 4%;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.7);
}

#forgot-pw-img img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(2.3);
  filter: blur(2px);
}

@media only screen and (max-width: 600px) {
  #login-prompt {
    display: block;
  }

  #login-img {
    display: none;
  }
}

form p input {
  display: flex;
}

#id_remember {
  display: inline-block;
}

.primaryAction,
#signup_form button,
#logout_form {
  width: 11.5rem;
  border-width: 1em;
  border-radius: 0.5em;
  border-color: white;
  filter: drop-shadow(0 0 0.5em black);
  font-family: "Abril Fatface", cursive;
  transition: 0.3s;
}

.primaryAction:hover,
#signup_form button:hover,
#logout_form:hover {
  background-color: rgb(233, 201, 58);
  border-color: gold;
  transition: 0.3s;
  filter: drop-shadow(0 0 5em gold);
  font-family: "Abril Fatface", cursive;
}

/* card-body {
  padding-left: 10em;
} */

/* Graphing */
.upGreenArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4.5px 12px 4.5px;
  border-color: transparent transparent #00ff00 transparent;
}

.downRedArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 4.5px 0 4.5px;
  border-color: #ff0000 transparent transparent transparent;
}

.upArrow {
  position: relative;
  top: -15px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #00ff00;
}
.upArrow:after {
  position: absolute;
  content: "";
  top: 20px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: #00ff00;
}

.downArrow {
  position: relative;
  top: 18px;
  left: -10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #ff0000;
}
.downArrow:after {
  position: absolute;
  content: "";
  top: -15px;
  left: -3px;
  width: 6px;
  height: 10px;
  background: #ff0000;
}

/* d3 candle stick start */
.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  fill: black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  right: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Table number */
div table tbody {
  counter-reset: no;
}

.table-no::before {
  counter-increment: no;
  content: counter(no);
}

.table-btn {
  padding: 0;
  border: none;
  background: none;
}

tr.table-row {
  cursor: pointer;
  transition: 0.3s;
}

tr.table-row:hover {
  transition: 0.3s;
  box-shadow: 0 3px 10px grey;
}

.remark-btn {
  margin: auto;
  background-color: none;
  border-radius: 0.5em;
}

.update-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  margin: 10px 10px 10px 10px;
  background-color: none;
  border-radius: 0.5em;
}

/* No output page */
.warren-card-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 50px;
  min-width: 850px;
}

#warren-img {
  width: 300px;
  height: 100%;
}

.warren-text {
  min-width: 600px;
  padding-left: 50px;
}

.warren-text h2 {
  font-family: "Abril Fatface", cursive;
}

.warren-text p {
  margin-top: 20px;
  font-family: "Quicksand";
  font-size: 20px;
  text-align: justify;
}

button.try-again-btn {
  padding: 10px;
  margin: 2% 35%;
  font-size: 20px;
  border-width: 1em;
  border-radius: 0.5em;
  border-color: white;
  filter: drop-shadow(0 0 0.5em black);
  font-family: "Abril Fatface", cursive;
  transition: 0.3s;
}

button.try-again-btn:hover {
  background-color: rgb(233, 201, 58);
  border-color: gold;
  transition: 0.3s;
  filter: drop-shadow(0 0 5em gold);
  font-family: "Abril Fatface", cursive;
}